{% extends "base.html" %}
{% load staticfiles %}
{% block cuerpo %}

      <!-- partial -->

<style>
.dataTables_wrapper .dataTable .btn{
     padding: 0.4rem 0.9rem!important;
    vertical-align: top;
}
</style>


<div class="row">
  <div class="col-md-12">
            <div class="card" >
              <div class="card-body">
                  <h3 class="card-title">Listado de Gastos</h3>
                  <p class="card-description">  </p>
                <div class="row">
                  <div class="col-12 table-responsive">
                    <table id="tabla" class="table">
                      <thead>
                        <tr>

                             <th>Gasto</th>
                             <th>Proveedor </th>
                             <th>Fecha  </th>
                             <th>Número Factura</th>
                             <th> <a role="button" class="btn btn-outline-warning btn-sm" href="{% url 'gastos:nuevo_gasto' %}">Nuevo Gasto</a></th>
                        </tr>
                      </thead>

                      <tbody>

                        {% for 	gas in gastos %}

                            <tr>

                                <td>{{ gas.nombre | default_if_none:"" | truncatechars:25 }}</td>
                                <td>{{ gas.proveedor | default_if_none:"" }} </td>
                                <td>{{ gas.fecha | default_if_none:""  }}</td>
                                <td>{{ gas.num_factura | default_if_none:"" }}</td>
                                <td>
                                    <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'gastos:detalle_gasto' gas.pk %}">ver</a>
                                    <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'gastos:modificar_gasto' gas.pk %}">editar</a>
                                    <a onclick="return abrir_modal('{% url 'gastos:gasto_eliminar' gas.pk %}')">
                                        <span class="btn btn-outline-danger mdi mdi-delete"></span>
                                    </a>
                                </td>
                            </tr>
			            {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

  </div>
</div>
<div id="popup" class="modal fade" role="dialog">


</div>
{% endblock cuerpo %}

{% block js %}

<script>
function abrir_modal(url)
{
	$('#popup').load(url, function()
	{
		$(this).modal('show');
	});
	return false;
}

function cerrar_modal()
{
	$('#popup').modal('hide');
	return false;
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/assets/localizacion/es_ES.json"
        }
    } );
});
</script>


    <!-- Custom js for this page
    <script src="{% static '/assets/js/shared/data-table.js' %}"></script>-->
          <script src="{% static 'assets/js/shared/modal-demo.js' %}"></script>
   <!--<script src="{% static 'assets/js/shared/jquery.dataTables.min.js' %}"></script>-->
   <!-- End custom js for this page-->

{% endblock js %}