{% extends "base.html" %}
{% load staticfiles %}
{% block cuerpo %}

{% with menuarticulo="1" pk=articulo.pk %}
	{% include "menuarticulos.html" %}
{% endwith %}

      <!-- partial -->

<style>
.dataTables_wrapper .dataTable .btn{
     padding: 0.4rem 0.9rem!important;
    vertical-align: top;
}
</style>


<div class="row">
  <div class="col-md-12">
            <div class="card" >
              <div class="card-body">
                  <h3 class="card-title">Listado de Articulos</h3>
                  <p class="card-description"></p>
                <div class="row">
                  <div class="col-12 table-responsive">
                    <table id="tabla" class="table">
                      <thead>
                        <tr>

                         <th>Cat. Articulo</th>
                         <th>Artículo </th>
                         <th>Proveedor</th>
                         <th>Precio</th>

                         <th> <a role="button" class="btn btn-outline-warning btn-sm" href="{% url 'articulos:nuevo_articulo' %}">Nuevo Artículo</a></th>


                        </tr>
                      </thead>

                      <tbody>

                        {% for 	item in articulos %}

                            <tr>

                                <td>{{ item.categoria | default_if_none:"" | truncatechars:30 }}</td>
                                <td>{{ item.nombre | default_if_none:"" | truncatechars:30 }}</td>
                                <td>{{ item.proveedor | default_if_none:"" | truncatechars:30}}</td>
                                <td>{{ item.precio | default_if_none:"" }} &nbsp; </td>
                                <td>
                                    <a onclick="return abrir_modal('{% url 'articulos:detalle_articulo' item.pk %}')"> <span class="btn btn-primary btn-sm">Detalles</span></a>
                                    <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'articulos:modificar_articulo' item.pk %}">Editar</a>
                                    <a onclick="return abrir_modal('{% url 'articulos:articulo_eliminar' item.pk %}')">
                                        <span class="btn btn-outline-danger mdi mdi-delete"></span></a>
                                </td>
                            </tr>
			            {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

  </div>
</div>
<div id="popup" class="modal fade" role="dialog">


</div>
{% endblock cuerpo %}

{% block js %}

<script>
function abrir_modal(url)
{
	$('#popup').load(url, function()
	{
		$(this).modal('show');
	});
	return false;
}

function cerrar_modal()
{
	$('#popup').modal('hide');
	return false;
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/assets/localizacion/es_ES.json"
        }
    } );
});
</script>


    <!-- Custom js for this page
    <script src="{% static '/assets/js/shared/data-table.js' %}"></script>-->
          <script src="{% static 'assets/js/shared/modal-demo.js' %}"></script>
   <!--<script src="{% static 'assets/js/shared/jquery.dataTables.min.js' %}"></script>-->
   <!-- End custom js for this page-->

{% endblock js %}