

<nav class="navbar  bg-light text-center nav-bottom ">

	<div class="container d-flex justify-content-center">
	<ul class="nav nav-tabs tab-solid tab-solid" role="tablist">
		<li class="nav-item"><a class="btn btn-outline-primary " href="{% url 'articulos:listado_categorias' %}"> Categorias</a></li>
		<li class="nav-item"><a class="btn btn-outline-primary" href="{% url 'articulos:listado_articulos' %}"> Articulos</a></li>
		<li class="nav-item"><a class="btn btn-outline-primary" href="{% url 'gastos:listado_proveedores' %}"> Proveedores</a></li>
    </ul>

    </div>
</nav>
